<!-- banner -->
<section
    class="mt-[100px] relative bg-[url(https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)] bg-cover bg-center bg-no-repeat">
    <div
        class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l">
    </div>
    <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8">
        <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
            <h1 class="text-3xl font-extrabold sm:text-5xl">
                Kêng tin tức của

                <strong class="block font-extrabold text-rose-700">
                    Người Việt.
                </strong>
            </h1>
            <p class="mt-4 max-w-lg sm:text-xl/relaxed">
                Chúng tôi luôn cố gắng cập nhật những thông tin HOT nhất diễn ra trong ngày đến với bạn.
            </p>

            <div class="mt-8 flex flex-wrap gap-4 text-center">
                <a href="#"
                    class="block w-full rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto">
                    Quay lại trang chủ
                </a>
                <a href="#"
                    class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-rose-600 shadow hover:text-rose-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto">
                    Đi tiếp
                </a>
            </div>
        </div>
    </div>
</section>
<!-- giới thiệu chung -->
<section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
            <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
                <img alt="Party"
                    src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                    class="absolute inset-0 h-full w-full object-cover" />
            </div>
            <div class="lg:py-24">
                <h2 class="text-3xl font-bold sm:text-4xl">Về chúng tôi</h2>

                <p class="mt-4 text-gray-600">
                    Với đội ngũ nhân sự gồm 4 thành viên thuộc nhóm 8. Chúng tôi luôn hướng tới bạn đọc những thông tin
                    HOT trong ngày được đội ngũ cập nhật thông tin và kiểm duyệt chặt chẽ. Luôn mang tới bạn những thông
                    tin quan trọng và chính xác nhất đang diễn ra trong
                    và ngoài nước.
                </p>
                <a href="#"
                    class="mt-8 inline-block rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400">
                    Tin tức hôm nay
                </a>
            </div>
        </div>
    </div>
</section>

<!-- list about -->
<app-listabout></app-listabout>
<!-- list comment tích cực -->
<app-listcomment></app-listcomment>