<!--Posts Container-->
<div>
    <div class="flex bg-white" style="height:600px;">
        <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2">
            <div>
                <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl">Xây dựng ý tưởng mới <span class="text-indigo-600">của bạn</span></h2>
                <p class="mt-2 text-sm text-gray-500 md:text-base">Chào mừng đến với trang tin tức của chúng tôi! Đây là nơi cập nhật những thông tin mới nhất, hấp dẫn và đa dạng về nhiều lĩnh vực khác nhau. Tại đây, bạn có thể tìm kiếm và đọc các tin tức liên quan đến chính trị, kinh tế, xã hội, giáo dục, thể thao, công nghệ và nhiều lĩnh vực khác. Chúc bạn có những trải nghiệm thú vị trên trang tin tức của chúng tôi!</p>
                <div class="flex justify-center lg:justify-start mt-6">
                    <a class="px-4 py-3 bg-gray-900 text-gray-200 text-xs font-semibold rounded hover:bg-gray-800" routerLink="">Bắt đầu</a>
                    <a class="mx-4 px-4 py-3 bg-gray-300 text-gray-900 text-xs font-semibold rounded hover:bg-gray-400" routerLink="/about">tìm hiểu thêm</a>
                </div>
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/2" style="clip-path:polygon(10% 0, 100% 0%, 100% 100%, 0 100%)">
            <div class="h-full object-cover" style="background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210902/pngtree-news-earth-blue-texture-background-image_783944.jpg)">
                <div class="h-full bg-black opacity-25"></div>
            </div>
        </div>
    </div>
    <app-listcategories></app-listcategories>
</div>