<a class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500" (click)="showModal()"><span>quên
        mật
        khẩu</span>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="quên mật khẩu" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
            <form class="space-y-4 md:space-y-6" nz-form [formGroup]="validateForm" class="login-form">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your email!">
                        <label for="email"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <nz-input-group nzPrefixIcon="mail">
                            <input type="email" nz-input formControlName="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@company.com" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</a>