<section class="bg-gray-100 mt-[100px]">  
    <div class="mx-auto px-4 py-16 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
            <div class="lg:col-span-2 lg:py-12 my-auto">
                <h1 class="text-3xl font-bold sm:text-4xl">
                    Liên hệ chúng tôi
                </h1>
                <p class="max-w-xl text-lg">
                    Đồng thời, việc chúng tôi sở hữu toàn bộ và hoàn toàn độc lập với nhà sản xuất cũng như sự kiểm soát
                    của nhóm khác giúp bạn tin tưởng rằng chúng tôi sẽ chỉ đề xuất những gì phù hợp với bạn.
                </p>
            </div>
            <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
                <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()" class="space-y-4">
                    <div>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your title!">
                                <nz-input-group>
                                    <label for="name"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                                    <input type="text" nz-input formControlName="name"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="name..." />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your email!">
                                <nz-input-group>
                                    <label for="email"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                                    <input type="email" nz-input formControlName="email"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="email..." />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                        <div>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Please input your Address!">
                                    <nz-input-group>
                                        <label for="Address"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
                                        <input type="text" nz-input formControlName="address"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="address..." />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Please input your phone!">
                                    <nz-input-group>
                                        <label for="phone"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
                                        <input type="text" nz-input formControlName="phone"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="phone..." />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your support!">
                                <nz-input-group>
                                    <label for=""
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">support</label>
                                    <textarea formControlName="support" rows="4" nz-input></textarea>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="mt-4">
                        <button class="bg-black w-[130px] text-white h-8" nz-type="primary">Liên hệ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>